.topImage{
background: url(../../../pages/images/productdetail/mbproductdetail/sc_top.png) center right no-repeat;
height: 274px;
width: 1340px;
top: 0px;
position: absolute;
}


.productImg{
color:blue;
position: relative;
margin-top: 298px;
margin-left: 167px;
}

.prodnameimg{
background: url(../../../pages/images/productdetail/mbproductdetail/sc2.png) center right no-repeat;
height: 165px;
width: 386px;
margin-left: 20px;
position: absolute;
margin-top: -414px;
margin-left: 573px;
}


.proddetails{
background: url(../../../pages/images/productdetail/mbproductdetail/sc3.png) center right no-repeat;
height: 165px;
width: 386px;
position: absolute;
margin-top: -241px;
margin-left: 573px;
}

.prodsuggestion{
background: url(../../../pages/images/productdetail/mbproductdetail/sc_suggestion.png) center right no-repeat;
height: 568px;
width: 185px;
position: absolute;
margin-top: -450px;
margin-left: 1000px;
}

.bottomimg{
background: url(../../../pages/images/productdetail/mbproductdetail/sc4.png) center right no-repeat;
height: 225px;
width: 650px;
position: absolute;
margin-top: -60px;
margin-left: 307px;

}
