.inferlytics-keywords{
height: 25px;
width: 372px;
position: relative;
top: -259px;
left: 600px;
}
.inferlytics-posthumb{
background: url(../../images/productdetail/mbproductdetail/thumbsup.png) center right no-repeat;
height: 20px;
width: 20px;
float: left;
display: inline;
}
.inferlytics-negthumb{
background: url(../../images/productdetail/mbproductdetail/thumbsdown.png) center right no-repeat;
height: 20px;
width: 20px;
float: left;
display: inline;
}

.inferlytics-poskeywords{
color: #473C3C;
font-family: sans-serif;
font-style: italic;
font-size: 12px;
display: inline;
float: left;
}
.inferlytics-poskeyword{
display: inline;
cursor: pointer;
text-transform: capitalize;
}

.inferlytics-negkeyword{
display: inline;
cursor: pointer;
text-transform: capitalize;
}
.inferlytics-keyword:hover{
display: inline;
cursor: pointer;
text-decoration:underline;
}

.inferlytics-negkeywords{
color: #473C3C;
font-family: sans-serif;
font-style: italic;
font-size: 12px;
display: inline;
float: left;
}


.inferlytics-showmoreKeywords{
background: url(../../images/productdetail/show_more_less.png) 12px 10px;
margin-top: 5px;
height: 10px;
width: 13px;
float: left;
display: inline;
cursor: pointer;
}


#inferlytics-posShowmore{
	display:none;
}
#inferlytics-negShowmore{
	display:none;
	
}
.inferlytics-Overlay{
z-index: 2;
background: none repeat scroll 0% 0% rgb(255, 255, 255);
position: absolute;
height: 240px;
width: 360px;
margin-top: 26px;
padding: 5px;
padding-bottom: 5px;
border-top: none;
box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
display:none;
}


.review_container .mCSB_container {
padding-bottom: 10px;

}

.review_panel .review {
border-bottom: 1px solid #D7D7D7;
margin: 0 17px -9px 0;
padding: 9px 0px 5px 16px;
position: relative;
}


.review_panel .review p {
font-size: 12px;
cursor: pointer;
text-align: justify;
font-family: sans-serif;
}

.review_panel .review p em{
font-style: normal;
}

.review_panel .review .review_comment {
height: 58px;
overflow: hidden;
-webkit-transition: height 1s ease;
-moz-transition: height 1s ease;
-o-transition: height 1s ease;
-ms-transition: height 1s ease;
transition: height 1s ease;
transition-property: all;
}

.review_container {
margin-top: 6px;
padding-bottom: 51px;
height: 205px;

}

.inferlytics-allkeyword{
color: rgb(111, 106, 106);
display: inline-block;
font-family: Arial;
text-transform: capitalize;
text-align: left;
font-size: 13px;
height: 20px;
max-width: 108px;
min-width: 108px;
margin-top: 14px;
cursor: pointer;
border-bottom: rgb(226, 220, 220) solid 1px;
margin-left: 8px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;

}


.arrow-down {
	border-color: transparent transparent rgba(0, 0, 0, 0.2);
border-style: dashed dashed solid;
border-width: 0px 8px 8px;
position: absolute;
left: -58px;
z-index: 1;
height: 0px;
width: 0px;
top:18px;
}


.arrow-shadow{
	border-color: transparent transparent rgb(255, 255, 255);
border-style: dashed dashed solid;
border-width: 0px 8px 8px;
position: absolute;
left: -58px;
top: 19px;
z-index: 1;
height: 0px;
width: 0px;
}

.arrow{
position: absolute;
display: inline;
display:none;
}

.inferlytics-comments-header{
font-family: sans-serif;
text-align: center;
font-size: 12px;
font-weight: bold;
text-transform: capitalize;
margin-left: 20px;
margin-right: 20px;
}



.inferlytics-closebutton {
background: url(../../images/productdetail/closebutton.png) center right no-repeat;
height: 18px;
width: 18px;
top: 0px;
position: absolute;
left: 352px;
cursor: pointer;
background-size: 18px 18px;
}

.inferlytics-goback{
background: url(../../images/productdetail/goback.png) center right no-repeat;
height: 20px;
width: 20px;
position:absolute;
cursor: pointer;
}

.blueBtn {
background: url(../../images/ecomwidget/showmore.png) no-repeat;
max-width: 83px;
min-height: 40px;
position: relative;
margin-top: 14px;
cursor: pointer;
}

