.navbar-brand img {
	width: 25%;
}

.wrapper {
	margin: 0 5%;
	clear: both;
	position: relative;
}

.widget {
	margin-top: 40px;
	border: 1px solid #d5d5d5;
	display: block;
	background: #fafafa;
	clear: both;
	position: relative;
}

.widgetContainer{
	border: 1px solid #d5d5d5;
	display: block;	
	background: #fafafa;
}

.widgetSmall{
	border: 1px solid #d5d5d5;
	display: block;
	background: #fafafa;
}
.widget .num {
float: right;
display: inline-block;
text-align: center;
margin: 9px 9px 0 0;
font-size: 11px;
}

#chartbody form {
	position: absolute;
	right: 10px;
	top: 10px;
}

.node {
	border: solid 1px white;	
	line-height: 12px;
	overflow: hidden;
	position: absolute;	
	color: white;
	font: 12px sans-serif;
	text-overflow: ellipsis;
	text-transform: capitalize;
	text-indent: 2px;
	cursor:pointer;
	
}

#tooltip {
  position: absolute;
  width: 220px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.inf-row-border {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom:20px;
	border: 1px solid #d5d5d5;
}

.commentContainer{
	height: 350px;
}
.blogComment {
	padding: 5px;
	border-bottom:1px solid #d5d5d5;
	text-overflow: ellipsis;
}

.nobg {
	background: none !important;
}

.blogComment .title {
	/*color: #515e70;*/
	font-weight: bold;
	text-overflow: ellipsis; /* will make [...] at the end */
     white-space: nowrap; /* paragraph to one line */
    overflow:hidden;
}

.blogComment .blogContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
}

.blogComment .headtitle{	
	text-overflow: ellipsis; /* will make [...] at the end */
    max-width: 60px; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden;
}

.infcloud{
	margin-top: 4%;
	margin-left:0.275%;
}

#pointchart .jqplot-yaxis-tick{
	color: #fff;
	font-size: smaller;
}
}