.headingForMap {
	font-family: sans-serif;
	font-size: 18px;
	color: black;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 12px;
	padding-left: 25px;
	margin-top: 15px;
}

#vmap {
	margin-top: 10px;
	margin-left: 5% !important;
}

.dashboard {
	background: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 22px;
}

.scoreDiv {
height: 98px;
width: 460px;
border: #D6D6D6 solid 1px;
display: inline-block;
margin-top: 40px;
margin-left: 5%;
margin-bottom: -20px;
}

.storeDetail {
width: 108px;
display: inline-block;
height: 82px;
border-right: rgba(213, 213, 213, 1) solid 1px;
margin-left: 0%;
margin-top: 8px;
vertical-align: top;
text-align: center;
}

.storeDetail .count {
	font-size: 25px;
margin-bottom: -8px;
color: rgb(71, 71, 71);
text-transform: uppercase;
font-weight: 500;
}

.storeDetail .label {
font-size: 14px;
margin-top: -12px;
color: rgb(177, 171, 171);
}

#storeCount {
	margin-left: 0;
}

#posNeg {
	margin-left: 0;
	border-right: none;
}

#posNeg div .text{
display: inline-block;
font-size: 17px;
margin-right: 2px;
width: 40px;
font-weight: 400;
}

#posNeg div .commentsCount{
display: inline-block;
color: rgb(71, 71, 71);
font-size: 20px;
font-weight: 600;
margin-bottom: -3px;
margin-right: 3px;
}

.mapTopics div {
	display: inline-block;
	margin-right: 15px;
	color: rgb(22, 49, 107);
	font-weight: 600;
	font-family: sans-serif;
	text-decoration: underline;
	font-size: 20px;
	cursor: pointer;
}

.mapTopics div:after {
	content: "|";
	margin-left: 10px;
}

.mapTopics div:last-child:after {
	content: "";
}

.mapTopics {
	margin-left: 10px;
}

#vmap {
	width: 650px;
	height: 500px;
	margin: auto;
}

#mapTab {
background-color: white;
padding-top: 22px;
display: block;
margin-left: 2%;
margin-right: 2%;
box-shadow: gray -1px 2px 8px;
margin-top: -11px;
}

#mapDiv {
	margin: auto;
}

#analysisTab {
display: none;
margin-left: 2%;
margin-right: 2%;
background: white;
box-shadow: 2px 3px 16px #888888;
}

#trendsTab {
	display: none;
	margin-left: 2%;
	margin-right: 2%;
	background: white;
	box-shadow: 2px 3px 16px #888888;
}

.categoriesDiv {
	width: 146px;
	height: 62px;
	border-bottom: rgb(162, 147, 147) solid 3px;
	text-align: center;
	cursor: pointer;
	line-height: 20px;
	color: rgb(75, 69, 69);
	font-weight: 600;
	text-transform: capitalize;
	padding-top: 16px;
	font-family: sans-serif;
}

.categoriesDiv:hover {
	width: 146px;
	height: 62px;
	border-bottom: rgb(162, 147, 147) solid 3px;
	text-align: center;
	cursor: pointer;
	line-height: 20px;
	font-weight: 600;
	text-transform: capitalize;
	padding-top: 16px;
	font-family: sans-serif;
	font-size: 22px;
}

.selectedCategory {
	border-bottom: rgb(175, 30, 30) solid 3px;
}

.selectedCategory:hover {
	border-bottom: rgb(175, 30, 30) solid 3px;
}

#categoriesContainer {
	width: 105%;
	height: 340px;
}

.dataColumns {
	border-right: rgb(231, 231, 231) solid 1px;
}

.inf-bw-data_container1 {
	width: 114%;
	height: 330px;
	padding: 6px;
	margin-bottom: 10px;
}

#categoriesContainer .mCSB_draggerContainer {
	margin-left: 14px;
}

#mainDashBoard {
cursor: pointer;
box-shadow: gray 0px 2px 13px;
background: rgb(230, 230, 230);
margin-left: 2%;
margin-right: 2%;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
color: gray;
}

.selectState {
	display: inline-block;
	float: right;
	margin-right: 20px;
}

.selectStore {
	display: inline-block;
	float: right;
	margin-right: 20px;
}

#analyticsHeader {
	margin-bottom: 0px;
	display: inline-block;
}

#headerAnalytics {
	display: none;
background: white;
margin-bottom: 1px;
margin-top: -12px;
box-shadow: 2px 3px 16px #888888;
font-size: 16px;
color: gray;
}

select {
	background: white;
	border-radius: 5PX;
}

#statesoptions {
	font-size: 14px;
	color: gray;
}

#storeoptions {
	width: 340px;
	font-size: 14px;
color: gray;	
}

.overallScore2 {
	display: inline-block;
	float: right;
	margin-right: 5px;
}

#overallScore2 {
	display: inline-block;
}

#homebutton {
display: inline;
background: rgb(116, 119, 122);
border-radius: 53%;
margin-right: 5px;
color: rgb(224, 222, 222);
padding-left: 4px;
padding-top: 4px;
padding-bottom: 5px;
}

#homebutton:hover {
	display: inline;
	background: rgb(224, 222, 222);
	border-radius: 53%;
	margin-right: 5px;
	color: rgb(116, 119, 122);
}

.selectedWidget {
	display: inline-block;
	margin-left: 6px;
}


.toptraits {
	margin-top: -25px;
	display: inline-block;
	vertical-align: top;
	width: 244px;
}

#competitorScores{
margin-left: 0;
border: none;
border-left: rgba(213, 213, 213, 1) solid 1px;
border-right:none;
}


#competitorScores .outerContainer .compName {
font-family: sans-serif;
display: inline-block;
width: 49px;
}


#competitorScores .outerContainer .compScore {
display: inline-block;
font-weight: 600;
color: rgb(71, 71, 71);
font-size: 20px;
}


#competitorScores .outerContainer .reviewCount{
	font-family: sans-serif;
font-size: 10px;
margin-bottom: -12px;
margin-top: -13px;
}
.toptraits .outerContainer {
	margin-bottom: 8px;
}



.toptraits .outerContainer div {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	background: #A2AF3A;
	display: inline-block;
	margin-left: 7px;
	margin-top: 5px;
	color: white;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
}

#negTraits .outerContainer div {
	background: #ad412a;
}

#negTraits .outerContainer div:last-child {
	background: none;
}

.competitorScore .outerContainer div:last-child,.toptraits .outerContainer div:last-child
	{
	width: 45%;
	display: inline-block;
	text-align: center;
	border-right: none;
}

.toptraits .outerContainer div:last-child {
	width: 75%;
	vertical-align: middle;
	text-transform: capitalize;
	display: inline-block;
	text-align: left;
	border-right: none;
	margin-top: 0;
	background: none;
	color: rgb(92, 88, 88);
	border-radius: 0;
	height: auto;
	font-family: serif;
	font-size: 18px;
	margin-left: 12px;
	padding-top: 0px;
	line-height: 20px;
}

#mainHeader img {
	background: none;
}

#charts {
	height: 300px;
	width: 100%;
}

.analysisSummary {
min-width: 560px;
margin-left: -39px;
border: rgb(224, 224, 224) solid 1px;
border-top: rgb(224, 224, 224) solid 40px;
border-radius: 14px;
margin-bottom: 10px;
min-height: 510px;
margin-top: -20px;
}

.analysisSummary .header {
	margin-top: -38px;
	color: white;
	font-size: 20px;
	font-weight: 400;
	font-family: sans-serif;
}

.analysisSummary .header .headerText {
	display: inline-block;
	color: rgb(111, 105, 105);
}

#mainDashBoard .tabs {
	float: right;
	display: inline-block;
}

.analysisSummary .overallScore {
	text-align: center;
	margin-top: -20px;
	margin-bottom: -30px;
}

.analysisSummary .overallScore #score {
display: inline-block;
font-size: 34px;
color: rgb(71, 71, 71);
font-weight: 700;
height: 59px;
margin-left: 10%;
margin-top: 6px;
}

.analysisSummary .overallScore #displayText {
	display: inline-block;
	font-weight: bold;
	font-family: sans-serif;
}

.tabs .link{
	height: 31px;
width: 42px;
font-size: 24px;
border-right: rgb(177, 169, 169) solid 2px;
padding-top: 4px;
margin-top: 2px;
display: inline-block;
cursor: pointer;
color: rgb(112, 106, 106);
}

.tabs .link:hover{
height: 31px;
width: 42px;
font-size: 24px;
color: white;
border-right: rgb(177, 169, 169) solid 2px;
padding-top: 4px;
margin-top: 2px;
display: inline-block;
cursor: pointer;
background: gray;
}

.heading {
margin-top: 11px;
text-align: center;
font-family: sans-serif;
text-transform: capitalize;
color: rgb(82, 77, 77);
}

#commentsHeader {
margin-left: 37px;
color: gray;
font-weight: 600;
width: 470px;
float: left;
line-height: 20px;
text-transform: capitalize;
}

#brandName{
	text-align: center;
font-weight: 600;
font-size: 25px;
margin-bottom: -20px;
font-family: sans-serif;
}


.inf-bw-review p {
padding-top: 6px;
font-size: 14px;
cursor: pointer;
text-align: justify;
line-height: 20px;
color: rgb(88, 86, 86);
font-family: sans-serif;
}

#mainHeader {
background-color: #8A8686;
}

#legend
{
height:20px;
width:120px;
background: -webkit-linear-gradient(left, #00FF00,  #002000 ); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #00FF00,  #002000 ); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #00FF00, #002000 );
background: linear-gradient(to right, #00FF00, #002000 ); /* Standard syntax (must be last) */
}

#legendContainer{
margin-top: 31px;
float: right;
margin-right: 65px;
font-size: 13px;
color: black;
margin-bottom: -33px;
font-weight: bold;
font-family: sans-serif
position:absolute;
}

#legendBorder{
padding-bottom: 6px;
border-left: rgb(66, 218, 97) solid 1px;
border-right: rgb(30, 34, 25) solid 1px;
}

#legendContainer #highScoreText{
	display: inline-block;
float: right;
margin-right: -25px;
	
}
#legendContainer #lowScoreText{
display: inline-block;
margin-left: -28px;	
}

#fromDatepicker,#toDatePicker {
display: inline;
width: 180px;
height: 39px;
}
.btn-owl {
padding: 1px 25px;
-webkit-box-shadow: 0 4px 0 #2A8607;
box-shadow: 0 4px 0 #2A8607;
-webkit-border-radius: 1px;
border-radius: 2px;
background-clip: padding-box;
background-color: #689D29;
position: relative;
top: 10px;
margin: 0px 0px;
color: #EFF9FA;
font-family: sans-serif;
}
.submitButton {
margin-left: -1%;
margin-top: 24px;
}

.resetButton {
margin-top: 24px;
margin-left: 2%;
float: left;
}


.btn-owl:active {
top: 14px;
-webkit-box-shadow: 0 0 0 #17a689;
box-shadow: 0 0 0 #17a689;
}
.lineChart_section {
margin-top: 10px;
}



#logoContainer {
float: right;
margin-right: 30px;
}

#logoContainer img{
height: 45px;
width: 140px;
padding-bottom: 0;
padding-top: 0;
}
