<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RMSentimentAnalysis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>DoSentimentAnalysis</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.StartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.raremile.prd.inferlytics.service</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSentimentAnalysis</display-name>
    <servlet-name>DoSentimentAnalysis</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.DoSentimentAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSentimentAnalysis</servlet-name>
    <url-pattern>/DoSentimentAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoImproveSentimentAnalysis</display-name>
    <servlet-name>DoImproveSentimentAnalysis</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.DoImproveSentimentAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoImproveSentimentAnalysis</servlet-name>
    <url-pattern>/DoImproveSentimentAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlotChart</display-name>
    <servlet-name>PlotChart</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.PlotChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlotChart</servlet-name>
    <url-pattern>/PlotChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSentimentAnalysisFromTripAdvisor</display-name>
    <servlet-name>DoSentimentAnalysisFromTripAdvisor</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.DoSentimentAnalysisFromTripAdvisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSentimentAnalysisFromTripAdvisor</servlet-name>
    <url-pattern>/DoSentimentAnalysisFromTripAdvisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlotChartByType</display-name>
    <servlet-name>PlotChartByType</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.PlotChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlotChartByType</servlet-name>
    <url-pattern>/PlotChartByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get posts from mongo for the given post id's</description>
    <display-name>GetPostsFromMongo</display-name>
    <servlet-name>GetPostsFromMongo</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.GetPostsFromMongo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostsFromMongo</servlet-name>
    <url-pattern>/getPostsFromMongo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This servlet is used for populating widget on E commerce sites</description>
    <display-name>WidgetServlet</display-name>
    <servlet-name>WidgetServlet</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.WidgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WidgetServlet</servlet-name>
    <url-pattern>/WidgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductWidgetServlet</display-name>
    <servlet-name>ProductWidgetServlet</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.ProductWidgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductWidgetServlet</servlet-name>
    <url-pattern>/ProductWidgetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCaptureAnalytics</display-name>
    <servlet-name>DoCaptureAnalytics</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.DoCaptureAnalytics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCaptureAnalytics</servlet-name>
    <url-pattern>/DoCaptureAnalytics</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
  </filter>
  <filter>
    <display-name>FilterURL</display-name>
    <filter-name>FilterURL</filter-name>
    <filter-class>com.raremile.prd.inferlytics.action.FilterURL</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterURL</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetKeywords</display-name>
    <servlet-name>GetKeywords</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.GetKeywords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKeywords</servlet-name>
    <url-pattern>/GetKeywords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalyserConnector</display-name>
    <servlet-name>AnalyserConnector</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.AnalyserConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyserConnector</servlet-name>
    <url-pattern>/AnalyserConnector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChartData</display-name>
    <servlet-name>GetChartData</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.GetChartData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChartData</servlet-name>
    <url-pattern>/GetChartData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChartDataForStore</display-name>
    <servlet-name>GetChartDataForStore</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.GetChartDataForStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChartDataForStore</servlet-name>
    <url-pattern>/GetChartDataForStore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreConnector</display-name>
    <servlet-name>StoreConnector</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.StoreConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreConnector</servlet-name>
    <url-pattern>/StoreConnector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreDetails</display-name>
    <servlet-name>StoreDetails</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.StoreDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreDetails</servlet-name>
    <url-pattern>/StoreDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YahooConnector</display-name>
    <servlet-name>YahooConnector</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.YahooConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YahooConnector</servlet-name>
    <url-pattern>/YahooConnector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KlwinesConnector</display-name>
    <servlet-name>KlwinesConnector</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.KlwinesConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KlwinesConnector</servlet-name>
    <url-pattern>/KlwinesConnector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCategoryCountForKlwines</display-name>
    <servlet-name>GetCategoryCountForKlwines</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.GetCategoryCountForKlwines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoryCountForKlwines</servlet-name>
    <url-pattern>/GetCategoryCountForKlwines</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventsConnector</display-name>
    <servlet-name>EventsConnector</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.EventsConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventsConnector</servlet-name>
    <url-pattern>/EventsConnector</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>RegisterEventForStorePage</display-name>
    <servlet-name>RegisterEventForStorePage</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.RegisterEventForStorePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEventForStorePage</servlet-name>
    <url-pattern>/RegisterEventForStorePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapViewConnector</display-name>
    <servlet-name>MapViewConnector</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.MapViewConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapViewConnector</servlet-name>
    <url-pattern>/MapViewConnector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChartDataForMap</display-name>
    <servlet-name>GetChartDataForMap</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.GetChartDataForMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChartDataForMap</servlet-name>
    <url-pattern>/GetChartDataForMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeeGoodConnector</display-name>
    <servlet-name>BeeGoodConnector</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.BeeGoodConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeeGoodConnector</servlet-name>
    <url-pattern>/BeeGoodConnector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeeGoodCompetitorPageConnector</display-name>
    <servlet-name>BeeGoodCompetitorPageConnector</servlet-name>
    <servlet-class>com.raremile.prd.inferlytics.action.BeeGoodCompetitorPageConnector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeeGoodCompetitorPageConnector</servlet-name>
    <url-pattern>/BeeGoodCompetitorPageConnector</url-pattern>
  </servlet-mapping>
</web-app>