@charset "utf-8";
/**** reset css **************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
        {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
        {
        display: block;
}

body {
        line-height: 18px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ol,ul {
        list-style: none;
}

blockquote,q {
        quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
        content: '';
        content: none;
}

table {
        border-collapse: collapse;
        border-spacing: 0;
}

a {
        text-decoration: none;
}
/**************end of reset **************/
/* CSS Document */
.page {
        position: relative;
        margin: 0 auto;
        background: url(../../images/ecomwidget/bck.png) no-repeat;
        min-height: 1600px;
}

.showcase_btn {
width: 110px;
position: relative;
right: 160px;
background: #000;
height: 110px;
border-radius: 5px 0 0 5px;
-moz-box-shadow: 0 0 5px 2px #ff7300;
-webkit-box-shadow: 0 0 5px 2px #ff7300;
box-shadow: 0 0 5px 2px #ff7300;
}


.showcase_btn .showcase_btn_icon {
        width: 105px;
height: 48px;
background: url(../../images/ecomwidget/logo2.png) center no-repeat;
color: #fff;
}

.showcase_btn .showcase_btn_icon p {
padding-top: 49px;
padding-left: 8px;
font-weight: bold;
font-size: 12px;
font-family: sans-serif;
}

.showcase_btn:hover {
        width: 110px;
        position: relative;
        right: 160px;
        background: #000;
        height: 110px;
        border-radius: 5px 0 0 5px;
        -moz-box-shadow: 0 0 5px 2px #ff7300;
        -webkit-box-shadow: 0 0 5px 2px #ff7300;
        box-shadow: 0 0 5px 2px #ff7300;
        background: #ff7300;
        cursor: pointer;
}

.showcase_btn:hover .showcase_btn_icon {
        width: 105px;
        height: 48px;
        background: url(../../images/ecomwidget/logo_hover.png) center no-repeat;
}

.outer_wrapper {
        width: 500px;
        height: 400px;
        position: fixed;
        right: -550px;
        top: 150px;
        z-index: 100;
}

.info_panel {
        width: 498px;
        height: 100%;
        position: absolute;
        z-index: 100;
        border: 1px solid #9a9a9a;
        border-radius: 5px 0px 0px 5px;
        top: 0px;
        right: 0px;
        background: #fff;
        overflow: hidden;
}

.info_container {
        overflow: hidden;
}

.content_panel {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        border: 1px solid #9a9a9a;
        border-radius: 5px 0px 0px 5px;
        top: 0px;
        right: 0px;
        background: #fff;
        overflow: hidden;
}

.header_panel {
        height: 50px;
        background: #202020;
}

.header_panel h1 {
        margin-top: 5px;
        color: #fff;
        display: inline-block;
        float: left;
        margin-left: 9px;
        padding-top: 10px;
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
}

.icon {
        background: url("../../images/ecomwidget/logo.png") no-repeat scroll
                -24px -3px transparent;
        height: 40px;
        margin-top: 2px;
        padding-top: 9px;
        float: left;
        width: 55px;
}

.dragger {
        background: url(../../images/ecomwidget/dragicon.png) no-repeat;
        height: 40px;
        margin-left: 3px;
        margin-top: 3px;
        width: 20px;
        float: left;
        cursor: pointer;
}

.minimize_panel {
        background: url(../../images/ecomwidget/white_arrow.png) no-repeat
                center center;
        height: 32px;
        margin-top: 7px;
        width: 32px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
        opacity: 0.5;
}

.minimize_panel:hover {
        opacity: 1;
}

.minimize_panel {
        
}

.content_container {
        height: 100%;
}

.tabs {
        height: 100%;
        position: relative
}

.tab_header {
        
}

.infer-headerinfo {
        color: white;
        padding-left: 6px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        padding-top: 5px;
}

.tabs ul.tabs_panel {
        display: none;
        width: 540px;
        height: 42px;
        float: right;
        background: #2B41C2;
        padding-left: 10px;
        position: absolute;
        right: 0;
        z-index: 10000;
}

.selected_key ul {
        background: #FF7300 !important
}

.selected_key .keyword_header label {
        color: #fff !important;
}

.tabs ul.tabs_panel li {
        width: 50px;
        height: 40px;
        position: relative;
        margin-bottom: 5px;
        display: inline;
        float: left;
        padding-right: 169px;
        padding-left: 10px;
}

.tabs ul.tabs_panel li div {
        color: white;
        font-size: 20px;
        padding-left: 38px;
        padding-top: 6px;
}
/*.tabs ul.tabs_panel li:hover{background:url(../../images/ecomwidget/hover_square.png) no-repeat;}*/
.tabs ul.tabs_panel li a {
        width: 40px;
        height: 30px;
        display: block;
        outline-width: 0px;
}

.tabs ul.tabs_panel li a label {
        width: 32px;
        height: 32px;
        display: block;
        cursor: pointer;
}

.tab_container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
}

.tab_content {
        padding-right: 50px
}

.tab_header {
        background: url(../../images/ecomwidget/header.png) repeat-x;
        height: 40px;
        background-size: contain; /*background: #690090;*/
}

.tab_header h2 {
        color: #FFFFFF;
        padding-left: 20px;
        padding-top: 10px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        float: left;
}

input[type=text] {
        border: none;
        border-radius: 5px;
        -moz-box-shadow: 0 2px 4px 4px #CCCCCC inset;
        -webkit-box-shadow: 0 2px 4px 4px #CCCCCC inset;
        box-shadow: 0 2px 4px 4px #CCCCCC inset;
        float: left;
        margin-top: 5px;
        padding: 4px;
}


.highlighted_key {
        border: 2px solid #326BCE !important;
}


.feature label {
        background: url(../../images/ecomwidget/tile.png) no-repeat;
        display: inline;
}



.hide_div {
        display: none;
}

.feature {
        background-size: contain;
}

.slidepanel {
        width: 35px;
        height: 100%;
        float: left;
}

.panel_close .slidepanel {
   
}

.panel_open .slidepanel {
        background: url(../../images/ecomwidget/arrow_right.png) no-repeat left
                center;
}

.hide_panel {
        display: none;
}



.data_container1 {
        margin-top: 15px;
}
.data_container1 {
        width: 495px;
        height: 242px;
        padding: 5px;
        margin: 2px;
        
}




.data_container1 .mCustomScrollBox>.mCSB_scrollTools
        {
        right: 5px;
}

.data_container1 .mCustomScrollBox>.mCSB_container {
        padding-left: 10px;
        padding-bottom: 40px;
        padding-top: 3px;
}


.selected_keyblock ul {
        border: 2px solid #000 !important;
}

.keys_block span {
color: #FFFFFF;
display: block;
padding: 2px 0 0 5px;
font-size: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
line-height: 18px;
text-align: left;
text-transform: capitalize;
}

#product_name {
        width: 365px;
        font-size: 16px;
        color: #37421B;
        padding-left: 10px;
        font-weight: bold;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        padding-top: 4px;
        margin-top: 0px;
        margin-bottom: 5px;
}

.keys_block label {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        display: block;
        padding: 3px 6px 0 5px;
        color: #FFFFFF;
        cursor: inherit;
        position: absolute;
        bottom: 0;
        right: 0px;
}

.keys_block .keyword_block_header .front {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        height: 100%;
}

.keys_block .keyword_block_header .back {
        display: none;
}


.keys_block  ul.hover .keyword_block_header .front {
        display: none;
}

.keys_block ul {
        /*  -moz-box-shadow:    0 0 3px 1px #CCCCCC;
  -webkit-box-shadow: 0 0 3px 1px #CCCCCC;
   box-shadow:         0 0 3px 1px #CCCCCC;*/
        -webkit-transition: width 1s ease;
        -moz-transition: width 1s ease;
        -o-transition: width 1s ease;
        -ms-transition: width 1s ease;
        transition: width 1s ease;
        transition-property: all;
        overflow: hidden;
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        border: 0px solid #fff;
        position: relative;
}

.keys_block ul li {
        height: 100%;
}

.keys_block ul.hover {
        border: 1px solid #fff;
}

.keys_block .keyword_count {
        height: 56px;
}

/*.keys_block:hover .keyword_block_header label {
        visibility: hidden;
        display: none
}*/
.keys_block .keyword_count {
        visibility: hidden;
}

/*.keys_block:hover .keyword_count {
        visibility: visible;                                            Remove this and next one if flip of tiles is required
}*/

/*.keys_block:hover .keyword_block_header span {
        background: #000;
        color: #fff;
}*/

/*.keyword:hover{
        background:url(../../images/ecomwidget/hover_square.png) no-repeat;
}
.feature:hover{
        background:url(../../images/ecomwidget/hover_square.png) no-repeat;
}*/
.panel_close {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}
/*.keys_block .keyword_count .keyword_positive{background:url(../../images/ecomwidget/thumb_up_black.png) right -6px no-repeat;}
.keys_block .keyword_count .keyword_negative{background:url(../../images/ecomwidget/thumb_down_black.png) right -6px no-repeat;}*/


mark {
        background-color: yellow;
        color: black;
}

.keys_block {
        float: left;
        margin: 9px 10px 0 0;
        cursor: pointer;
}
/*.keys_block:hover ul{
        width:120px !important;height:120px;z-index:10;position:relative;
        border:1px solid #d7d7d7;-moz-transform:translate(-5px, -5px);
}*/
keys_block:hover ul {
        position: relative;
}

.keys_block .hide_label {
        display: none !important;
}

.metro-color {
        background: none repeat scroll 0 0 #808080;
        color: #D74F35;
}

.header_section {
        padding-bottom: 0px;
        padding-top: 15px;
        min-height: 8px;
}

.span_back_hidden {
        cursor: pointer;
        display: none;
}

.span_back {
        display: block;
        cursor: pointer;
        font-size: 12px;
        float: left;
        background: url(../../images/ecomwidget/back.png) no-repeat;
}

#back {
        background: url(../../images/ecomwidget/back.png) no-repeat;
        width: 72px;
        height: 22px;
        margin-top: 10px;
        margin-left: 17px;
        cursor: pointer;
}

.review_container .review .review_comment {
        height: 54px;
        overflow: hidden;
        -webkit-transition: height 1s ease;
        -moz-transition: height 1s ease;
        -o-transition: height 1s ease;
        -ms-transition: height 1s ease;
        transition: height 1s ease;
        transition-property: all;
}

.review_container .review:hover {
        background: #f0efef
}

.review_container {
margin-top: 6px;
padding: 0px;
height: 300px;
}

.review_container .mCSB_container {
        padding-right: 30px;
}

.review_container .mCustomScrollBox>.mCSB_scrollTools {
        right: 5px;
}

.review_container .review span {
        left: 12px;
        position: absolute;
        top: -15px;
        border: 1px solid #D7D7D7;
        background: #fff;
        font-size: 12px;
        border-radius: 5px;
        -moz-box-shadow: 1px 1px 2px 1px #999;
        -webkit-box-shadow: 1px 1px 2px 1px #999;
        box-shadow: 1px 1px 2px 1px #999;
        display: none;
}

.review_container .review p {
        font-size: 12px;
        cursor: pointer;
        text-align: justify;
}

.subCategory {
        text-align: left;
        color: white;
        font-size: 11px;
        word-break: break-word;
        padding-left: 5px;
        padding-right: 4px;
}


.positiveComments {
        float: left;
        margin-top: 12px;
        padding-left: 10px;
        padding-top: 7px;
        background-color: #666666;
        color: white;
        width: 58px;
        height: 20px;
        border-radius: 5px;
        background-image: url('../../images/ecomwidget/thumb_up_white.png');
        background-repeat: no-repeat;
        display: inline;
        background-position: right 2px top;
        cursor: pointer;
}

.positiveComments:HOVER {
        float: left;
        margin-top: 12px;
        padding-left: 10px;
        padding-top: 7px;
        background-color: #5170cb;
        color: white;
        width: 58px;
        height: 20px;
        border-radius: 5px;
        background-image: url('../../images/ecomwidget/thumb_up_white.png');
        background-repeat: no-repeat;
        display: inline;
        background-position: right 2px top;
        cursor: pointer;
}

.negativeComments {
        float: left;
        margin-top: 12px;
        margin-left: 5px;
        padding-left: 10px;
        padding-top: 7px;
        background-color: #666666;
        color: white;
        width: 58px;
        height: 20px;
        border-radius: 5px;
        background-image: url('../../images/ecomwidget/thumb_down_white.png');
        background-repeat: no-repeat;
        display: inline;
        background-position: right 2px top;
        cursor: pointer;
}

.negativeComments:HOVER {
        float: left;
        margin-top: 12px;
        margin-left: 5px;
        padding-left: 10px;
        padding-top: 7px;
        background-color: #5170cb;
        color: white;
        width: 58px;
        height: 20px;
        border-radius: 5px;
        background-image: url('../../images/ecomwidget/thumb_down_white.png');
        background-repeat: no-repeat;
        display: inline;
        background-position: right 2px top;
        cursor: pointer;
}

#span_back {
        width: 72px;
        height: 22px;
}

.review_container .review {
border-bottom: 1px solid #D7D7D7;
margin: 0 0 7px 0;
padding: 10px 10px 10px 10px;
position: relative;
}

.review_container .review_p .review_comment {
        overflow: hidden;
        -webkit-transition: height 1s ease;
        -moz-transition: height 1s ease;
        -o-transition: height 1s ease;
        -ms-transition: height 1s ease;
        transition: height 1s ease;
        transition-property: all;
}

.review_container .review_p span {
        left: 12px;
        position: absolute;
        top: -15px;
        border: 1px solid #D7D7D7;
        background: #fff;
        font-size: 12px;
        border-radius: 5px;
        -moz-box-shadow: 1px 1px 2px 1px #999;
        -webkit-box-shadow: 1px 1px 2px 1px #999;
        box-shadow: 1px 1px 2px 1px #999;
}

.review_container .review_p p {
        font-size: 12px;
}

.review_container .review_p {
        border: 1px solid #D7D7D7;
        margin: 0 0 20px 0;
        padding: 15px 10px 10px 10px;
        position: relative;
}

.positive_review {
        background: url(../../images/ecomwidget/thumb_up_white.png) center right
                no-repeat;
        float: left;
        background-color: #818c2e;
        border-top-left-radius: 5px;
        padding-left: 5px;
        border-bottom-left-radius: 5px;
        padding-top: 0px;
        height: 20px;
        width: 55px;
        cursor: pointer;
}

#positiveCountno {
        /*padding-top: 4px;*/
        color: white;
        font-size: 12px;
}

.negative_review {
        cursor: pointer;
        background: url(../../images/ecomwidget/thumb_down_white.png) center
                right no-repeat;
        height: 20px;
        width: 55px;
        float: left;
        background-color: #AD412A;
        border-bottom-right-radius: 5px;
        padding-left: 5px;
        border-top-right-radius: 5px;
        padding-top: 0px;
        border-left: 1px solid white;
        cursor: pointer;
}

#negativeCountno {
        /*padding-top: 4px;*/
        color: white;
        font-size: 12px;
}


.slidepanel {
        cursor: pointer;
}

.header_section h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        left: 60px;
        font-weight: bold;
        height: auto;
        width: 400px;
        padding-bottom: 8px;
        text-transform: capitalize;
        text-align: center;
}

.clear {
        clear: both;
}

.review_type {
        padding-right: 5px;
        padding-top: 0px;
        float: right;
}

.popup_overlay {
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        z-index: 1;
        display: none
}

/********************jquery script ***************************/
.ui-icon,.ui-widget-content .ui-icon {
        background-image:
                url("../../images/ecomwidget/ui-icons_222222_256x240.png");
}

.ui-resizable-nw {
        cursor: nw-resize;
        height: 15px;
        left: 0px;
        top: 0px;
        width: 15px;
        z-index: 1000 !important;
}

.ui-resizable-handle {
        display: block;
        font-size: 0.1px;
        position: absolute;
}

.cell1x1,.cell1x2,.cell2x1,.cell2x2 {
        /* border:1px solid #e6e6e6;        
        background-color:#fff;        
        overflow:hidden; */
        
}

.blueBtn {
        background: url(../../images/ecomwidget/showmore.png) no-repeat;
        max-width: 83px;
        min-height: 40px;
}

.blueBtn:hover {
        background: url(../../images/ecomwidget/showmorehover.png) no-repeat;
        max-width: 83px;
        min-height: 40px;
}



/** view product **/

.prod_block {
        width: 100px;
        /*float: left;*/
        display: inline-block;
        zoom: 1;
        vertical-align: bottom;
}

.prod_productName {
        height: 40px;
        text-align: center;
        overflow: hidden;
}

.prod_pos_neg_fix {
        width: 20% !important;
        height: 10% !important;
        margin-left: 0px !important;
        margin-right: 7px !important;
}

.prod_head_menu {
        width: 50% !important;
        height: 40% !important;
}

.prod_atg_store_productImage img {
        cursor: pointer;
        height: 100px;
        width: 82%;
        padding-left: 8%;
}

.review_container .prod_review_p .prod_review_comment {
        overflow: hidden;
        transition: all 1s ease 0s;
}

.review_container .prod_review_p p {
        /*font-size: 12px;
        margin-right: 19px;*/
        
}

.review_container .prod_review_p {
        border: 1px solid #D7D7D7;
        margin: 0 3px 20px;
        padding: 0px 5px 5px;
        position: relative;
        width: 126px;
}

.prod_info_panel {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #9A9A9A;
        border-radius: 5px 0 0 5px;
        height: 100%;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 540px;
        z-index: 100;
}

.prod_positiveComments {
        background-color: #A2AF3A;
        background-image: url(../../images/ecomwidget/thumb_up_white.png);
        background-position: right 2px top;
        background-repeat: no-repeat;
        /*border-radius: 5px;*/
        color: #FFFFFF;
        cursor: pointer;
        display: inline;
        float: left;
        height: 20px;
        margin-top: 5px;
        padding-left: 10px;
        padding-top: 7px;
        width: 40%;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
}

.prod_positiveComments:hover {
        background-color: #818c2e;
        background-image: url(../../images/ecomwidget/thumb_up_white.png);
        background-position: right 2px top;
        background-repeat: no-repeat;
        /*border-radius: 5px;*/
        color: #FFFFFF;
        cursor: pointer;
        display: inline;
        float: left;
        height: 20px;
        margin-top: 5px;
        padding-left: 10px;
        padding-top: 7px;
        width: 40%;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
}

.prod_negativeComments {
        background-color: #C75B43;
        background-image: url(../../images/ecomwidget/thumb_down_white.png);
        background-position: right 2px top;
        background-repeat: no-repeat;
        /*border-radius: 5px;*/
        color: #FFFFFF;
        cursor: pointer;
        display: inline;
        float: left;
        height: 20px;
        margin-left: 5px;
        margin-top: 5px;
        padding-left: 10px;
        padding-top: 7px;
        width: 40%;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
}

.prod_negativeComments:hover {
        background-color: #ad412a;
        background-image: url(../../images/ecomwidget/thumb_down_white.png);
        background-position: right 2px top;
        background-repeat: no-repeat;
        /*border-radius: 5px;*/
        color: #FFFFFF;
        cursor: pointer;
        display: inline;
        float: left;
        height: 20px;
        margin-left: 5px;
        margin-top: 5px;
        padding-left: 10px;
        padding-top: 7px;
        width: 40%;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
}

.prod_header_section h3 {
        background: #7F7F7F;
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
        height: 3%;
        padding-bottom: 2%;
        padding-top: 1%;
        text-transform: capitalize;
        width: 88%;
        color: #fff;
        text-align: center;
        margin-left: 3%;
        box-shadow: 0 3px 4px #888888;
}

.prod_atg_store_productImage {
        overflow: hidden;
}

.prod_viewProduct {
        color: #7F7F7F;
        cursor: pointer;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
}

.prod_viewProduct:hover {
        color: #1E0FBE;
        cursor: pointer;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
}

.prod_review_panel {
        
}

.userinfo {
        margin-right: 40px;
        font-style: inherit;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        color: rgb(51, 45, 45);
        vertical-align: top;
}

.commentsIcon {
height: 21px;
vertical-align: top;
width: 31px;
}

#headerIcon {
        height: 30px;
        width: 440px;
        border-bottom: 1px solid #CCC;
}

.inferlytics-arrow {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 8px 8px;
        border-color: transparent transparent #CCC transparent;
        margin-top: 4px;
        margin-left: 14px;
}
/****************************/