p, pre {
margin: 1em 0 !important;
}

.inf-mb-prd-posthumb {
background: url(../../pages/images/productdetail/mbproductdetail/thumbsup.png) center right no-repeat;
height: 20px;
width: 22px;
float: left;
display: inline;
}

.inf-mb-prd-negthumb {
background: url(../../pages/images/productdetail/mbproductdetail/thumbsdown.png) center right no-repeat;
height: 20px;
width: 22px;
float: left;
display: inline;
}

.inf-mb-prd-negkeywords {
color: #473C3C;
font-family: sans-serif;
font-style: italic;
font-size: 12px;
display: inline;
float: left;
margin-left: -8px;
}


.inf-mb-prd-poskeywords {
color: #473C3C;
font-family: sans-serif;
font-style: italic;
font-size: 12px;
display: inline;
float: left;
margin-left: -8px;
}

.inf-mb-prd-poskeyword {
display: inline-block;
cursor: pointer;
text-transform: capitalize;
margin-left: 2px;
}

.inf-mb-prd-keywords {
height: 25px;
width: 372px;
position: relative;
top: 345px;
left: 579px;
}

.inf-mb-prd-negkeyword {
display: inline-block;
cursor: pointer;
text-transform: capitalize;
margin-left: 2px;
}
.inf-nike-prd-keywords {
height: 20px;
top: 147px;
left: 849px;
}

.gridview ul.hproducts li.hproduct .shmod{
	margin: 5px 10px 5px 0;
border: 1px solid #e2e2e6;
height: 365px;
max-width: 270px;
}


.popOverBox{
	width:400px;
	height: 190px;
	display: block;
	
}


								/* Reviews part */

.inf-mb-prd-review_container {
margin-top: 0px;
padding-bottom: 10px;
height: 205px;
}

.inf-mb-prd-review_container .mCSB_container {
padding-bottom: 10px;
}


.inf-mb-prd-review_panel .inf-mb-prd-review {
border-bottom: 1px solid #D7D7D7;
margin: 0px 13px 2px 0px;	
position: relative;
}


.inf-mb-prd-review_panel .inf-mb-prd-review .inf-mb-prd-review_comment {
height: 58px;
overflow: hidden;
-webkit-transition: height 1s ease;
-moz-transition: height 1s ease;
-o-transition: height 1s ease;
-ms-transition: height 1s ease;
transition: height 1s ease;
transition-property: all;
}


.inf-mb-prd-review_panel .inf-mb-prd-review p {
font-size: 12px;
cursor: pointer;
text-align: justify;
font-family: sans-serif;
line-height: 20px;
}


.inf-mb-prd-review_panel .inf-mb-prd-review p em {
font-style: normal;
}

/******************************/
.popover {
display: block;
top: 809px;
left: 108px;
min-width: 360px;
}

.mCustomScrollBox>.mCSB_scrollTools {
width: 5px !important; 	
}


.shmod .img img{
	width: 140px;
height: 141px;
}


.shmod-productlisting ul.hproducts li.hproduct h2.title a {
font-size: 15px;
font-weight: 400;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
max-width: 228px;
display: inline-block;
}

.inf-mb-prd-poskeywords .inf-mb-prd-poskeyword:after
{ 
content:", ";
}


.inf-mb-prd-poskeywords .inf-mb-prd-poskeyword:last-child:after
{ 	
content:" ";
}

.inf-mb-prd-negkeywords .inf-mb-prd-negkeyword:after
{ 
content:", ";
}

.inf-mb-prd-negkeywords .inf-mb-prd-negkeyword:last-child:after
{ 
content:" ";
}

.blueBtn {
background: url(../../pages/images/ecomwidget/showmore.png) no-repeat;
max-width: 83px;	
min-height: 40px;
cursor: pointer;
}

#nextPage{
	cursor: pointer;	
}